.body{
    border: 1px;
    width: 1530px;
    height: 420px;
    background-color: blue;
    background-image: url(images/micromax_background.jpg.png);
    background-repeat: no-repeat;
    
    
}
.mid{
    border: 1px;
    width: 1530px;
    height: 420px;
    

}
.inside{
    border: 1px;
    width: 1530px;
    
    height: 100px;
    
}
.hai{
    align-items: center;
}
.area{
    border: 1px;
    width: 25%;
    height: 76%;
    background-color: aqua;
    float: left;
    background-image: url(images/mobile_1.jpg.png);
    background-repeat: no-repeat;
}
.volume{
    border: 1px;
    width: 25%;
    height: 76%;
    background-color:black;
    float: left;
    background-image: url(images/mobile_2.jpg.png);
    background-repeat: no-repeat;
}
.cm{
    border: 1px;
    width: 25%;
    height: 76%;
    background-color:rebeccapurple;
    float: left;
    background-image: url(images/mobile_3.jpg.png);
    background-repeat: no-repeat;
}
.cmm{
    border: 1px;
    width: 25%;
    height: 76%;
    background-color:royalblue;
    float: left;
    background-image: url(images/mobile_4.jpg.png);
    background-repeat: no-repeat;
}